<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<div class="column is-4 is-offset-4">
  <div class="box">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}
  </div>

  {% if user_is_super_secure %}
  <button id="reg2fa" class="button is-block is-info is-large is-fullwidth">Register a new YubiKey!</button>
  {% else %}
  <button id="reg2fa" class="button is-block is-info is-large is-fullwidth">Register YubiKey!</button>
  {% endif %}
</div>
<script>
  let register2fa = document.getElementById('reg2fa');
  register2fa.onclick = () => {
    fetch('/api/register/begin', {
      method: 'POST',
    }).then(function(response) {
      if(response.ok) return response.arrayBuffer();
      throw new Error('Error getting registration data!');
    }).then(CBOR.decode).then(function(options) {
      return navigator.credentials.create(options);
    }).then(function(attestation) {
      return fetch('/api/register/complete', {
        method: 'POST',
        headers: {'Content-Type': 'application/cbor'},
        body: CBOR.encode({
          "attestationObject": new Uint8Array(attestation.response.attestationObject),
          "clientDataJSON": new Uint8Array(attestation.response.clientDataJSON),
        })
      });
    }).then(function(response) {
      var stat = response.ok ? 'SUCCESSFUL' : 'FAILED';
      var direction = response.ok ? ' Remember to update LDAP!' : '';
      alert('Registration ' + stat + '!');
    }, function(reason) {
      alert(reason);
    }).then(function() {
      window.location = '/twofactor';
    });
  }
</script>
{% endblock %}